# Environnement virtuel
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# VS Code (optionnel, selon préférence d'équipe)
.vscode/